<header>
  <!-- Nav bar -->
      <nav class="navbar navbar-expand-sm  bg-dark navbar-dark">
          <div class="container-fluid">
              <a class="navbar-brand" href="admin/staffs/edit">
                  <h3>Administrator</h3>
              </a>
<ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="admin/staffs/edit">Staffs</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="admin/medicine">Medicines</a>
      </li>
</ul>
           <div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
      <ul class="navbar-nav ms-auto me-3">
        <li class="nav-item" ngbDropdown display="dynamic" placement="bottom-end">
          <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown3" role="button">
            Profile
          </a>
          <div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu">
            <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Action</a>
            <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Action 2</a>
            <a ngbDropdownItem  (click)="logout()">Logout</a>
          </div>
        </li>
      </ul>
    </div>

          </div>
      </nav>

</header>


<div class="row m-3"></div>
