<app-doctor></app-doctor>

<div class="container-fluid-sm d-flex align-items-stretch">
  <div class="float-start bg-light navbar-light p-1">
    <ul class="navbar-nav ms-2 gap-3">
      <li class="navbar-item">
        <a class="navbar-brand" href="reception/home"
          ><i class="bi bi-house-fill" style="font-size: 1.5rem"></i
        ></a>
      </li>
      <li class="navbar-item">
        <a class="nav-link active" href="reception/transactions"
          ><i class="bi bi-bag-check-fill" style="font-size: 1.5rem"></i
        ></a>
      </li>
      <li class="navbar-item">
        <a class="nav-link" href="#"
          ><i class="bi bi-plus-circle-fill" style="font-size: 1.5rem"></i
        ></a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          ><i class="bi bi-person-circle" style="font-size: 1.5rem"></i
        ></a>
        <ul class="dropdown-menu bg-secondary">
          <li><a class="dropdown-item text-white" href="#">First Link</a></li>
          <li><a class="dropdown-item text-white" href="#">Second Link</a></li>
          <li><a class="dropdown-item text-white" href="#">Third Link</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="container-fluid bg-light bg-opacity-10 float-right">
    <div class="row">







      <div class="text-center col-sm-2 mt-5 pt-5">
        <h3>TOKEN<br />NO</h3>
        <h1 id="tokenNoId"><b>{{reception.token.TokenNumber}}</b></h1>
      </div>
      <div class="col-sm-10">


        <div class="table-wrapper-scroll-y my-custom-scrollbar mt-4">
          <table class="table bg-white border  table-lg text-center">
            <br />
            <thead>
                <th scope="col">Token no.</th>
                <th scope="col">Name</th>
                <th scope="col">Patient ID</th>
                <th scope="col">Age</th>
                <th scope="col">Doctor</th>
                <th scope="col">Action</th>
            </thead>
            <tbody>
              <tr *ngFor="let queue of reception.queueList | paginate:{itemsPerPage:5, currentPage:page}">
                  <th>{{queue.TokenNumber}}</th>
                  <td>{{queue.PatientName}}</td>
                  <td>{{queue.PatientId}}</td>
                  <td>{{queue.Age}}</td>
                <td>{{queue.DoctorName}}</td>
                <td>
                  <button type="button" class="btn btn-outline-info btn-sm">
                      <i  routerLink="/doctor/advice/vitals" class="bi bi-pencil-square"> Diagnosis</i>

                  </button>
                &nbsp;

                </td>
              </tr>
            </tbody>
          </table>
          <div class="footer d-flex float-end">
                <pagination-controls (pageChange)="page = ($event)"></pagination-controls>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>


