<div class="container">
  
  <h1>Add Medicines</h1>
  
  <form [formGroup]="medicineForm" (ngSubmit)="onSubmit()">

    <p>
        <input type="hidden" name="InventoryId" formControlName="InventoryId" value="InventoryId">
    </p>

    <div class="form-group">
        <label for="ManufactureId" class="form-label">Manufacture: </label>
        <select
          name="ManufactureId"
          id="ManufactureId"
          class="form-select"
          formControlName="ManufactureId"
          required
        >
          <option  value="0">Select...</option>
          <option *ngFor="let mfg of admin.mfgs" value="{{ mfg.ManufactureId | number }}">
            {{ mfg.ManufactureName }}
          </option>
        </select>
    </div>

  
    <table class="table table-bordered" formArrayName="quantities">
      <tr>
        <th colspan="2">Medicines: </th>
        <th  width="150px"><button type="button" (click)="addQuantity()" class="btn btn-primary my-3"
          style="color: rgb(184, 157, 8);">Add</button></th>
      </tr>
      <tr *ngFor="let quantity of quantities().controls; let i=index" [formGroupName]="i">
          <td>
              Medicine:
              <select
          name="MedicineId"
          id="MedicineId"
          class="form-select"
          formControlName="MedicineId"
          required
        >
          <option disabled value="0">Select...</option>
          <option *ngFor="let medicine of admin.medicineDetails" value="{{ medicine.MedicineId }}">
            {{ medicine.MedicineName }}
          </option>
        </select>
          </td>
        <td>
            Quantity :
            <input type="number" formControlName="MedicineQuantity" class="form-control">

        </td>
        <td>
            Type:
            <input type="text" formControlName="MedicineType" class="form-control">
        </td>
        <td>
            <button (click)="removeQuantity(i)" class="btn btn-danger p-1" style="color: brown;">Remove</button>
        </td>
      </tr>
    </table>
   
    <button type="submit" class="btn btn-success"[disabled]="medicineForm.invalid" >Submit</button>
    
  </form>
</div>