<div class="container">
    <div class="row">
        <div class="col">
            <div class="row">
                <input type="search" id="search" class="form-control mt-3 ms-2" placeholder="Search text here..." [(ngModel)]="filter">
            </div>
            <table class="table mt-4">
                <thead>
                    <th>ID</th>
                    <th>Medicine Name</th>
                    <th>Price</th>
                    <th>Mfg. Date</th>
                    <th>Exp. Date</th>
                    <th>Action</th>
                </thead>
                <tbody>
                    <tr *ngFor = "let medicine of admin.medicineDetails |sortBy: 'desc':'MedicineId'  |filter: filter | paginate:{itemsPerPage:5, currentPage: page}">
                        <td>{{medicine.MedicineId}}</td>
                        <td>{{medicine.MedicineName}}</td>
                        <td>{{medicine.MedicinePrice}}</td>
                        <td>{{medicine.ManufacturingDate | date: 'dd-MMM-yy'}}</td>
                        <td>{{medicine.ExpiryDate | date: 'dd-MMM-yy'}}</td>
                        <td>
                            <button class="btn btn-sm btn-outline-info" (click)="open(content)">Edit</button> 
                            &nbsp;
                            <button class="btn btn-sm btn-outline-danger" (click)="del(medicine.MedicineId)">Del</button> 

                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="footer">
                <pagination-controls (pageChange)="page = ($event)"></pagination-controls>
            </div>
        </div>
    </div>
   
</div>
