
<header>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark ">
    <div class="container-fluid ">
      <ul class="navbar-nav  ">
        <li class="nav-item active mt-1">
          <a class="navbar-brand" href="reception/home">Reception</a>
        </li>
      </ul>
      <form class="d-flex ml-2">
        <input class="form-control me-2" type="text" placeholder="Search" >
        <button class="btn btn-outline-success" type="button">Search</button>
      </form>
    </div>
  </nav>
</header>
