<app-lab-technician></app-lab-technician>



<div style="background-color: rgb(216, 216, 216); ">
  <div class="container-sm" style="width: 70%; height: 89%;" >
    <div class="row mt-5">
      <div class="col mt-5">
        <div class="card" style="border-radius: 15px">
          <div class="card-body">
            <br />
            <div
              style="
                text-align: center;
                font-family: Arial, Helvetica, sans-serif;
              "
            >
              <h1>LAB BILL</h1>
            </div>
            <hr />
            <form
              #form="ngForm"
              name="ngForm"
              autocomplete="off"
              class="form-group p-3"
              (ngSubmit)="onSubmit(form)"
            >
              <!--Patient Id-->
              <div class="form-group row align-items-center pt-4 pb-3">
                <div class="col-md-3 ps-5">
                  <h2>PATIENT ID</h2>
                </div>

                <div class="col-md-9 pe-5">
                  <input
                    type="number"
                    class="form-control form-control-lg"
                    placeholder="Patient_Id"
                    style="width: 75%"
                    name="PatientId"
                    #PatientId="ngModel"
                    [(ngModel)]="labTestService.formData.PatientId"
                    required
                    pattern=[0-9]+
                    minlength="1"
                    maxlength="5"
                    [ngClass]="{
                      'is-invalid': PatientId.touched && PatientId.invalid
                    }"
                  />
                  <!--Patient Id validation-->

                  <p
                    *ngIf="PatientId.touched && PatientId.invalid"
                    class="validation-error"
                  >
                    <span
                      *ngIf="PatientId.errors.required"
                      style="color: crimson"
                    >
                      Please enter patient id</span
                    >
                  </p>
                  <!--Search Patient details-->
                  <div class="py-4">
                    <button
                      type="submit"
                      class="btn btn-secondary btn-lg me-3"
                      [disabled]="!(form.valid && form.dirty)"
                    >
                      SEARCH</button
                    ><br /><br />
                  </div>
                </div>
              </div>

              <hr />

              <div #bill id="bill">
                <!--Patient details-->
                <div class="form-group row align-items-center">
                  <h1>PATIENT DETAILS</h1>
                  <br /><br />
                </div>
                <hr />
                <!--Patient Name-->

                <div class="form-group row align-items-center pt-4 pb-3">
                  <div class="col-md-3 ps-5">
                    <h2 class="mb-0">NAME</h2>
                  </div>

                  <div class="col-md-9 pe-5">
                    <input
                      type="text"
                      class="form-control form-control-lg"
                      placeholder="Patient_Name"
                      style="width: 75%"
                      name="PatientName"
                      #PatientName="ngModel"
                      [(ngModel)]="labTestService.formData.PatientName"
                      disabled
                    />
                  </div>
                </div>
                <!--Test List Id-->
                <input
                  type="hidden"
                  class="form-control form-control-lg"
                  name="AdviceId"
                  #AdviceId="ngModel"
                  id="AdviceId"
                  [(ngModel)]="labTestService.formData2.AdviceId"
                  disabled
                />
                <!--Phone Number-->
                <div class="form-group row align-items-center pt-4 pb-3">
                  <div class="col-md-3 ps-5">
                    <h2 class="mb-0">PHONE NUMBER</h2>
                  </div>

                  <div class="col-md-9 pe-5">
                    <input
                      type="text"
                      class="form-control form-control-lg"
                      placeholder="Patient_Phone_Number"
                      style="width: 75%"
                      name="PatientPhone"
                      #PatientPhone="ngModel"
                      [(ngModel)]="labTestService.formData.PatientPhone"
                      disabled
                    />
                  </div>
                </div>
                <!--Doctor Name-->

                <div class="form-group row align-items-center pt-4 pb-3">
                  <div class="col-md-3 ps-5">
                    <h2 class="mb-0">REF BY</h2>
                  </div>

                  <div class="col-md-9 pe-5">
                    <input
                      type="text"
                      class="form-control form-control-lg"
                      placeholder="Patient_DoctorName"
                      style="width: 75%"
                      name="StaffName"
                      #StaffName="ngModel"
                      [(ngModel)]="labTestService.formData.StaffName"
                      disabled
                    />
                  </div>
                </div>
                <!--Visitd date-->
                <div class="row align-items-center pt-4 pb-3">
                  <div class="col-md-3 ps-5">
                    <h2 class="mb-0">DATE</h2>
                  </div>
                  <div class="form-group col-md-9 pe-5">
                    <input
                      type="datetime"
                      class="form-control form-control-lg"
                      name="ReportDateTime"
                      #ReportDateTime="ngModel"
                      placeholder="Patient_DateOfVisit"
                      [(ngModel)]="labTestService.formData.ReportDateTime"
                      disabled
                      style="width: 75%"
                    />
                  </div>
                </div>
                <br />
                <br />

                <!--Test details-->
                <div class="form-group row align-items-center">
                  <button
                    type="submit"
                    (click)="onClick(form, $event)"
                    class="form-group btn btn-secondary btn-lg me-2 ms-3 btn-block float-end"
                    style="width: 94%"
                  >
                    TEST DETAILS
                  </button>
                </div>
                <br />

                <table
                  class="table table-bordered m-2 table-active"
                  style="width: 95%"
                >
                  <thead class="table-lg thead-light">
                    <tr>
                      <th scope="col">Test Name</th>
                      <th scope="col">Test Amount</th>
                    </tr>
                  </thead>
                  <tbody class="table" style="background-color: #f7f7f7">
                    <tr
                      *ngFor="
                        let users of labTestService.labtests2
                          | filter: this.app.filter
                          | paginate: { itemsPerPage: 5, currentPage: page }
                      "
                    >
                      <!--Display Test name-->
                      <td>{{ users.TestName }}</td>
                      <!--Display Test amount-->
                      <td>{{ users.TestAmount }}</td>
                    </tr>
                    <!--Display Total amount-->
                    <tr>
                      <td colspan="1"><b>Total:</b></td>
                      <td colspan="1" id="total" name="total">
                        <b>₹{{ total }}</b>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="footer">
                <pagination-controls
                  (pageChange)="page = $event"
                ></pagination-controls>
              </div>


              <div class="px-5 py-4">
                <button
                  (click)="reset(form)"
                  type="submit"
                  class="btn btn-secondary btn-lg me-3 float-end"
                >
                  RESET
                </button>
                <!--Button to insert bill details to database-->
                <button
                  type="submit"
                  (click)="
                    finalSubmit(form, labTestService.formData.TestListId,$event)
                  "
                  class="btn btn-secondary btn-lg me-3 float-end"
                >
                  SUBMIT
                </button>
                <!--Button to generate pdf-->
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br /><br />
</div>
