<app-reception></app-reception>

<body >
  <div class="container-fluid bg-light bg-opacity-10 float-right">
    <div id="font">
    <div class="row">

      <div class="text-center col-sm-2 mt-5 pt-5">
        <h3>TOKEN<br />NO</h3>
        <h1 id="tokenNoId"><b>{{reception.token.TokenNumber}}</b></h1>
      </div>
      <div class="col-sm-10">
        <form class="d-flex ml-2 mt-3" name="tokenForm" [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">

          <!--Using ng-option and for loop-->
          <ng-select class="col-4 me-3 mt-3" placeholder="Patient ID/Name/Location/Phone" appearance="outline"
            formControlName="PatientId">
            <ng-option *ngFor="let pat of reception.patients" [value]="pat.PatientId">
              {{pat.PatientId}} &nbsp;
              {{pat.PatientName}} &nbsp;
              {{pat.PatientLocation}} &nbsp;
              {{pat.PatientPhone}}
            </ng-option>
          </ng-select>
          <!--Using ng-option and for loop-->
          <ng-select class="col-4 me-3 mt-3" placeholder="Doctor ID/Name/Phone" appearance="outline"
            formControlName="StaffId">
            <ng-option *ngFor="let doc of reception.doctors" [value]="doc.DoctorId">
              {{doc.DoctorId}} &nbsp;
              {{doc.DoctorName}} &nbsp;
              {{doc.Phone}} &nbsp;
              {{doc.Qualification}}
            </ng-option>
          </ng-select>


          <button class="btn btn-outline-primary form-control me-2 mt-3 mb-2 p-0" type="submit">
            Generate Token
          </button>
        </form>

        <div class="table-wrapper-scroll-y my-custom-scrollbar mt-4">
          <table class="table table-bordered m-2 table-active" style="background-color: darkgray; width:99%; ">

            <thead class="table-lg thead-light">
              <tr>
                <th scope="col">Patient ID</th>
                <th scope="col">Name</th>
                <th scope="col">Token</th>
                <th scope="col">Age</th>
                <th scope="col">Doctor</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody class="table" style="background-color: #e7e7e7">
              <tr *ngFor="let queue of reception.queueList | filter:filter|paginate:{itemsPerPage:5, currentPage:page}">
                <th>{{queue.PatientId}}</th>
                <td>{{queue.PatientName}}</td>
                <td>{{queue.TokenNumber}}</td>
                <td>{{queue.Age}}</td>
                <td>{{queue.DoctorName}}</td>
                <td>
                  &nbsp;
                  <button type="button" class="btn btn-outline-danger btn-sm" (click)=" deleteToken(queue.TokenId)">
                    <i class="bi bi-trash"> Del</i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="footer d-flex float-end">
            <pagination-controls (pageChange)="page = ($event)"></pagination-controls>
          </div>
        </div>

      </div>
    </div>
    </div>
  </div>
</body>
