<app-administrator></app-administrator>

<div class="container">
    <div class="row">
        <h4>Manage staffs</h4>
        <div class="row m-3">
<nav ngbNav #nav="ngbNav" class="nav-tabs">
   <ng-container ngbNavItem>
    <a ngbNavLink (click)="edit()">New/Update</a>
    <ng-template ngbNavContent>
  
    </ng-template>
  </ng-container>
  <ng-container ngbNavItem>
    <a ngbNavLink  (click)="list()">List</a>
    <ng-template ngbNavContent>
     
    </ng-template>
  </ng-container>
</nav>


    </div>
    </div>
    </div>

    <router-outlet></router-outlet>