<app-lab-technician></app-lab-technician>

<body style="background-color: rgb(216, 216, 216)">
  <br /><br />
  <div>
    <div class="container-sm" style="width: 55%">
      <section>
        <div class="row mt-5">
          <div class="card" style="border-radius: 15px">
            <div class="col mt-3">
              <button
                style="float: right"
                (click)="close()"
                type="submit"
                class="btn btn-secondary btn-xs ms-2"
              >
                CLOSE
              </button>
              <button
                style="float: right"
                (click)="generatePDF()"
                type="submit"
                class="btn btn-secondary btn-xs ms-2"
              >
                DOWNLOAD PDF
              </button>
            </div>
            <div class="col mt-1">
              <div #bill id="bill">
                <div class="card-body ms-4 me-4">
                  <br />

                  <div>
                    <h1 style="text-align: left"><b>ALPHA CRUX CLINIC</b></h1>
                    <br />
                    <p style="text-align: left">
                      Head Office : Technopark,Tvm.
                      email:alphacruxservices@gmail.com<br />
                      Branches: Nedumangadu, Peroorkada, Thycaud
                    </p>
                  </div>
                  <hr />
                  <div class="row">
                    <div class="col mx-4">
                      <H3>
                        Patient ID : {{ labTestService.formData.PatientId }}

                        <br />

                        Patient Name : {{ labTestService.formData.PatientName }}
                      </H3>
                    </div>
                    <div class="col mx-2">
                      <H3>
                        Ref By : Dr.{{ labTestService.formData.StaffName }}

                        <br />
                        Date : {{ today }}
                        <br />
                      </H3>
                    </div>
                  </div>
                  <hr />

                  <table
                    class="table table-bordered table-active"
                    style="width: 95%; background-color: #e7e7e7"
                  >
                    <thead class="table-lg thead-light">
                      <tr>
                        <th scope="col">Test Name</th>
                        <th scope="col">Test Amount</th>
                      </tr>
                    </thead>

                    <tbody class="table" style="background-color: #f7f7f7">
                      <tr
                        *ngFor="
                          let users of labTestService.labtests2
                            | filter: this.app.filter
                            | paginate: { itemsPerPage: 5, currentPage: page }
                        "
                      >
                        <!--Display Test name-->
                        <td>{{ users.TestName }}</td>
                        <!--Display Test amount-->
                        <td>{{ users.TestAmount }}</td>
                      </tr>
                      <!--Display Total amount-->
                      <tr>
                        <td colspan="1"><b>Total:</b></td>
                        <td colspan="1" id="total" name="total">
                          <b>₹{{ total }}</b>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <br /><br />

                  <br /><br />

                  <hr />
                  <div class="footer">©AlphaCruxServices2022</div>
                </div>
              </div>
            </div>
          </div>
          <br /><br /><br /><br /><br /><br />
          <br /><br />
        </div>
      </section>
    </div>
  </div>
</body>
