<app-reception></app-reception>

<div class="container-fluid-sm d-flex align-items-stretch ">
  <div class="float-start bg-light navbar-light p-1 position-fixed">
    <ul class="navbar-nav ms-2 gap-3">
      <li class="navbar-item">
        <a class="navbar-brand" href="reception/home"
          ><i class="bi bi-house-fill" style="font-size: 1.5rem"></i
        ></a>
      </li>
      <li class="navbar-item">
        <a class="nav-link active" href="reception/transactions"
          ><i class="bi bi-bag-check-fill" style="font-size: 1.5rem"></i
        ></a>

      <li class="navbar-item">
        <a class="nav-link active" href="reception/register-patient"
          ><i class="bi bi-person-plus-fill" style="font-size: 1.5rem"></i
        ></a>
      </li>
    <li class="navbar-item">
      <a class="nav-link active" href="reception/update-patient"
        ><i class="bi bi-pencil-square" style="font-size: 1.5rem"></i
      ></a>
    </li>
      <li class="nav-item ">
        <a
          class="nav-link active"
          (click)="logout()"
          role="button"

          ><i class="bi bi-person-circle" style="font-size: 1.5rem"></i
        ></a>

      </li>
    </ul>
  </div>





<div class="container-fluid-sm m-5 p-4">
    <div class="row text-center m-2"><h5><strong>Payments</strong></h5></div>
    <div class="row mt-4">
        <div class="table">
            <table class="table table-bordered ms-4">
                <thead>
                    <tr>
                        <th scope="col">Invoice number</th>
                        <th scope="col">Date&Time</th>
                        <th scope="col">Patient ID</th>
                        <th scope="col">Patient Name</th>

                    </tr>
                </thead>
                <tbody *ngFor="let Payment of paymentsService.payments|filter:filter|paginate:{itemsPerPage:4,currentPage:page}">
                  <tr>
                    <td>{{Payment.InvoiceNumber}}</td>
                    <td>{{Payment.DateTime | date: 'dd-MMM-yy h:mm a'}}</td>
                    <td>{{Payment.PatientId}}</td>
                    <td>{{Payment.PatientName}}</td>

                </tr>
                </tbody>
            </table>
        </div>
        <div class="footer">
          <pagination-controls (pageChange)="page = ($event)"></pagination-controls>
      </div>
    </div>

</div>
</div>


