<app-reception></app-reception>
<body style="background-color: rgb(216, 216, 216)">
    <div class="container-fluid-sm m-5 p-4" id="margin">
      <div class="card row mt-5">
        <div id="font">
      <div class="row text-center m-2"><h2><strong>Payments</strong></h2></div>
      <div class="row mt-4">
          <div class="table">
              <table class="table table-bordered m-2 table-active" style="background-color: darkgray; width:99%; ">
                  <thead class="table-lg thead-light">
                      <tr>
                          <th scope="col">Bill Id</th>
                          <th scope="col">Date & Time</th>
                          <th scope="col">Patient ID</th>
                          <th scope="col">Patient Name</th>
                          <th scope="col">Doctor Name</th>

                      </tr>
                  </thead>
                  <tbody *ngFor="let Payment of paymentsService.payments|filter:filter|paginate:{itemsPerPage:7,currentPage:page}"
                  class="table" style="background-color: #e7e7e7">
                    <tr>
                      <td>{{Payment.ConsultationBillId}}</td>
                      <td>{{Payment.ConsultationDateTime | date: 'dd-MMM-yy h:mm a'}}</td>
                      <td>{{Payment.PatientId}}</td>
                      <td>{{Payment.PatientName}}</td>
                      <td>{{Payment.StaffName}}</td>

                  </tr>
                  </tbody>
              </table>
          </div>
          <div class="footer">
            <pagination-controls (pageChange)="page = ($event)"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
  </div>

</body>
