.body{
  height: 1005;
  width: 100%;
}
#font{
  font-size: large;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.center {
  margin: auto;
  width: 100%;
  border: 5px ;
  padding: 10px;
  }

