<app-administrator></app-administrator>

<div class="container m-2">
    <div class="row">
        <h4>Manage Medicines</h4>
        <div class="row m-2">
            <nav class="nav">
  <a class="nav-link active" routerLink="inventory">Add Medicine Quantity</a>
  <a class="nav-link" routerLink="list">Inventory</a>
  <a class="nav-link" routerLink="medicines">Medicines</a>
  <a class="nav-link" routerLink="manufacturers">Manufacturers</a>
  <a class="nav-link" routerLink="new">Add Medicine</a>
</nav>
        </div>
        </div>
        </div>
<router-outlet></router-outlet>