<app-reception></app-reception>

<div class="container-fluid-sm d-flex align-items-stretch ">
  <div class="float-start bg-light navbar-light p-1 position-fixed">
    <ul class="navbar-nav ms-2 gap-3">
      <li class="navbar-item">
        <a class="navbar-brand" href="reception/home"><i class="bi bi-house-fill" style="font-size: 1.5rem"></i></a>
      </li>
      <li class="navbar-item">
        <a class="nav-link active" href="reception/transactions"><i class="bi bi-bag-check-fill"
            style="font-size: 1.5rem"></i></a>

      <li class="navbar-item">
        <a class="nav-link active" href="reception/register-patient"><i class="bi bi-person-plus-fill"
            style="font-size: 1.5rem"></i></a>
      </li>
      <li class="navbar-item">
        <a class="nav-link active" href="reception/update-patient"><i class="bi-plus-circle"
            style="font-size: 1.5rem"></i></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" (click)="logout()" role="button" data-bs-toggle="dropdown"><i
            class="bi bi-person-circle" style="font-size: 1.5rem"></i></a>

      </li>
    </ul>
    </div>

  <div class="container-sm container-fluid">
    <div class="row mt-5"></div>
    <div class="row mt-5">
      <div class="col mt-5">
        <div class="card" style="border-radius: 15px;">
          <div class="card-body">

            <h1>Payment</h1>
            <div>
            <div id="bill">
              <button class="btn btn-secondary " (click)="savebill(receptionService.token.PatientId,receptionService.token.StaffId)"  >
                Save Bill
              </button>
            <br>
            </div>
            <div id="pdf" >
              <button class="btn btn-primary " (click)="makePDF()">Download pdf</button>
            </div>
          </div>
          <br>
          <br>
          <form [formGroup]="checkoutForm" >
            <div id="content" #content>
              <div id="content" #content class="col-sm-6 p-4 ms-3 border rounded border-bottom-0">
                <h3>Payment details</h3>

                <div class="table border mt-4 rounded">
                  <table class="table table-borderless">

                    <tbody>
                      <tr>
                        <th scope="row"  >Patient id:</th>
                        <td >{{receptionService.token.PatientId}}</td>
                      </tr>
                      <tr>
                        <th scope="row">Patient name:</th>
                        <td>{{receptionService.token.PatientName}}</td>
                      </tr>

                      <tr>
                        <th scope="row">Amount:</th>
                        <td>
                          <h3>200 &#x20b9;</h3>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">Bill Date:</th>
                        <td>{{Billdate | date: 'dd-MMM-yy HH:mm:ss'}}</td>
                      </tr>
                    </tbody>
                  </table>


                </div>
              </div>
              &nbsp;<br>


            </div>

          </form>

          </div>

        </div>
      </div>
    </div>

  </div>
