<div class="row">
  <div class="col">
    <h3>DIAGNOSIS</h3>
    <div class="col">

      <form #form="ngForm" name="ngForm" autocomplete="off"
          class="form-group p-3" (ngSubmit)="onSubmit(form)">

          <input type="hidden" name="PatientId"
            [(ngModel)]="diagnosisService.formData.PatientId" />

        <div class="form-group form-outline mb-4">
          <label class="form-label" for="description">Disease & Description</label>

          <textarea class="form-control" id="NoteData" rows="4"
            placeholder="Disease & Description Type here"
            name="NoteData" #NoteData="ngModel"
                [(ngModel)]="diagnosisService.formData.NoteData"
                 required minlength="5" maxlength="25"
                [ngClass]="{ 'is-invalid': NoteData.touched && NoteData.invalid }"></textarea>
                <!--Validation for patient name-->
                <p *ngIf="NoteData.touched && NoteData.invalid" class="validation-error">
                  <span *ngIf="NoteData.errors.required" style="color: crimson">
                  Name is required!</span>
                  </p>
        </div>


        <div class="float-end">
          <button type="reset" class="btn btn-outline-danger">
            Clear
          </button>
          <button type="submit" class="btn btn-primary" [disabled]="!(form.valid && form.dirty)">
            Save
          </button>
        </div>
      </form>


    </div>
  </div>
</div>
